.btn-client-list{
    width: 50px;
    padding: 0px;
    margin:0px;
    background-color:white;
}

.item-search{
    font-size: 20px;
    text-align: left;
}
.search{
    width: 100%;
    background-color: white;
    
}

.vrf{
    margin-top: 10px;
    margin-left: 0px;
}


.nombre-cliente{
    background-color: beige;
    border-radius: 10px;
    padding-left: 5px;
}

.grid-css{
    background-color: rgb(190, 190, 241);
}

.cabecera{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
}

.checkbox{
    margin-left: 10px;
}

