.btn-back {
    width: 40px;
    height: 30px;
    background-color: white;
    border-radius: 10px;
   }
   
   .btn-back:hover {background-color: #bebef1}
   
   .btn-back:active {
           transform: translateY(4px);
   }
   